<div id="host-interfaces" class="tab-pane">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <table id="host-interfaces-main-list" class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>INET Type</th>
              <th>IP Address</th>
              <th>Netmask</th>
              <th>Gateway</th>
              <th>IP Interface Type</th>
            </tr>
          </thead>
          <tbody id="main-interface-body">
            <% if @server_info["server"]["host"]["interfaces"] %>
            <% @server_info["server"]["host"]["interfaces"].each do |interface| %>
              <tr>
                <td class="action-icon"><a href="#" data-toggle="collapse" data-target="#additional-info-<%= interface["name"] %>"><I class="icon-chevron-right"></I></a></td>
                <td><%= text_field_tag "host[interfaces][][name]",interface["name"],:class=>"span12"%> </td>
                <td>
                  <%= select_tag "host[interfaces][][type]",options_from_collection_for_select(@interfacetypes,"internal_name","name",interface["type"]),:class=>"span12" %>
                </td>
                <td><%= select_tag "host[interfaces][][inet]", options_from_collection_for_select(@inettypes,"internal_name","name",interface["inet"]),:class=>"span12" %></td>
                <% if interface["inet"]=="loopback" %>
                  <td><%= text_field_tag "host[interfaces][][ip]",interface["ip"],:class=>"span12",:disabled=>true %></td>
                  <td><%= text_field_tag "host[interfaces][][netmask]",interface["netmask"],:class=>"span12",:disabled=>true %></td>
                  <td><%= text_field_tag "host[interfaces][][gateway]",interface["gateway"],:class=>"span12",:disabled=>true %></td>
                <% else %>
                  <td><%= text_field_tag "host[interfaces][][ip]",interface["ip"],:class=>"span12" %></td>
                  <td><%= text_field_tag "host[interfaces][][netmask]",interface["netmask"],:class=>"span12" %></td>
                  <td><%= text_field_tag "host[interfaces][][gateway]",interface["gateway"],:class=>"span12" %></td>
                <% end %>
                <td>
                  <%= label_tag "host[interfaces][][is_ipv6","IPv6 Interface" do %><%= check_box_tag "host[interfaces][][is_ipv6]",true,interface["is_ipv6"] %> IPv6 Interface<%end%>
                  <% if interface["pre_up"] != nil or interface["pre_down"] != nil or interface["post_up"] != nil or interface["post_down"] != nil or interface["slaves"] != nil %>
                    <span class="label label-important">Interface Details available</span>
                  <% end %>
                </td>
              </tr>
              <tr id="additional-info-<%= interface["name"] %>" class="collapse">
                <td></td>
                <td colspan="7">
                  <table cellpadding="0" cellspacing="0" class="table table-condensed">
                    <thead>
                      <tr>
                        <th>
                          <% if interface["type"]=="bond_1" or interface["type"]=="bond_2" -%>Slave Devices<% end -%>
                          <% if interface["type"]=="vlan" -%>VLAN Raw Device<% end-%>
                        <th>Pre-Up</th>
                        <tH>Post-Up</th>
                        <tH>Pre-Down</th>
                        <th>Post-down</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <% if interface["type"]=="bond_1" or interface["type"]=="bond_2" -%>
                            <div id="slavelist-<%= interface["name"] %>" class="interface-slaves">
                              <%= select_tag "host[interfaces][][slaves]",options_for_select(@device_names,interface["slaves"]),:size=>5,:multiple=>true %>
                            </div>
                          <% end %>
                          <% if interface["type"]=="vlan" -%>
                            <span class="label label-info">Raw Device: <%= interface["vlan_raw_device"] %></span>
                          <% end %>
                        </td>
                        <td>
                          <%= text_area_tag "host[interfaces][][pre_up]",interface["pre_up"],:rows=>10,:cols=>72,:class=>"span12" %>
                        </td>
                        <td>
                          <%= text_area_tag "host[interfaces][][post_up]",interface["post_up"],:rows=>10,:cols=>72,:class=>"span12" %>
                        </td>
                        <td>
                            <%= text_area_tag "host[interfaces][][pre_down]",interface["pre_down"],:rows=>10,:cols=>72,:class=>"span12" %>
                        </td>
                        <td>
                          <%= text_area_tag "host[interfaces][][post_down]",interface["post_down"],:rows=>10,:cols=>72,:class=>"span12" %>
                        </td>
                      </tr>
                  </table>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <button type="button" id="interfaces-add" class="btn pull-right"><i class="icon-plus"></i> Add</button>
            </td>
          </tr>
        </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
