  <% content_for :titleinformation do %>
    Edit Details for <%= @server_info["server"]["serial_no"] %> (<%= @server_info["server"]["host"]["hostname"] %>.<%= @server_info["server"]["host"]["domainname"] %>)
  <% end %>
  <% content_for :extra_head do %>
    <%= javascript_include_tag "backends/servers" %>
  <% end %>
  <%= form_tag backends_server_path(@server_info["server"]["_id"]),:method=>"put",:class=>"form-horizontal" do %>

    <input type="hidden" name="backend_id" value="<%= @dcb.id %>"/>
    <%= button_tag :type => "submit", :class=>"btn" do %>
        <i class="icon-ok"></i> Update
    <% end %>
 
  <%= render "backends/servers/edit" %>
<% end%>
<div id="rib-type-list" style="display:none;">
  <%= select_tag "ribs[][remote_type]", options_from_collection_for_select(@kvms,"kvm_type","kvm_name") %>
</div>
<div id="hostclasses-names-list" style="display:none;">
  <table>
    <tr>
      <td><%= check_box_tag "host[[needs_removal][]","",false, :onchange=>"$(this).parent('td').parent().remove()" %></tD>
      <td><%= select_tag "host[hostclasses][]",options_for_select(@defclasses) %></td>
    </tr>
</table
</div>

