<table cellpadding="0" cellspacing="0" class="table table-striped">
  <thead>
    <tr>
      <th><input id="check_all" type="checkbox" name="check_all"/></th>
      <th>Location</th>
      <th>Name</th>
      <th>Floor</th>
      <th>Room No.</th>
      <th>Cabinets Max</th>
      <th>Rows Max</th>
    </tr>
  </thead>
  <tbody>
    <% @modulelist.each do |dcmodule| %>
      <tr url="<%= edit_admin_assetmgmt_dc_module_path(dcmodule) %>">
        <td><input class="del_check" type="checkbox" name="check" value="<%= admin_assetmgmt_dc_module_path(dcmodule) %>"/></td>
        <td class="data-cell"><%= dcmodule.location.title %></td>
        <td class="data-cell"><%= dcmodule.name %></td>
        <td class="data-cell"><%= dcmodule.floor %></td>
        <td class="data-cell"><%= dcmodule.room_no %></td>
        <td class="data-cell"><%= dcmodule.racks_max %></td>
        <td class="data-cell"><%= dcmodule.rows_max %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="modulebtn" class="btn-group pull-right">
    <input type="button" name="btn_add" value="Add" class="btn"/>
    <input type="button" name="btn_refresh" value="Refresh" class="btn"/>
    <input type="button" name="btn_delete" value="Delete" class="btn"/>
</div>
