<%= form_for [:admin, @dcbackend],:class=>"well form-vertical" do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, :class=>"span3" , :placeholder => "Title" %>
  <%= f.label :url, "RPC Url" %>
  <%= f.url_field :url, :class=>"span3", :placeholder => "RPC Url" %>
  <%= f.label :location,"DC Location" %>
  <%= f.text_field :location, :class => "span3", :placeholder => "Location" %></div>
<%= f.submit :class=>"btn btn-primary" %> <%= link_to "Cancel", admin_dcbackends_path, :class=>"btn" %>
<% end %>
