<!DOCTYPE html>
<html>
<head>
<title>Dc2Admin</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= yield :extra_head %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= render "layouts/menubar" %>
  </div>
</div>
<%= render 'layouts/alerts' %>
<div id="content" class="container-fluid">
  <div class="row-fluid"><div class="span12"><div class="page-header"><h1><%= yield :titleinformation %></h1></div></div></div>
  <%= yield %>
</div>
</body>
</html>

